@import url(http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,700,700italic,400italic);

/* =============================
* COLOR PALETTE
* ============================== */

/* =============================
* MAIN TYPO
* ============================== */

body{
	font-family: 'Roboto';
}

/* =============================
* HACKS (ugly, fix later)
* ============================== */

body{
	padding: 2%;
	font-weight: 300;
}

/* =============================
* MEDIA QUERIES
* ============================== */

/** MOBILE APP */
@media screen and (max-width: 480px){

}

/** TABLET APP */
@media screen and (min-width: 481px) and (max-width: 768px){

}

/** DESKTOP (960px max) */
@media screen and (min-width: 769px) and (max-width: 960px){

}

/** DESKTOP (960px min) */
@media screen and (min-width: 961px){

}