.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 

/* =============================
* OVERRIDES FOR GUMBY
* BECAUSE IT NEEDED FIXING
* ============================== */

h1, h2, h3, h4, h5, h6{
	font-weight: 300;
	margin: 15px 0px;
}

p{
	color: #666;
}

a{
	color: #199387;
}

p.large{
	font-size: 1.2em;
}

.h_und{
	border-bottom: 1px solid #199387;
}

footer{
	margin-top: 30px !important;
	padding-top: 10px;
	border-top: 1px solid #666;
}

.center{
	text-align: center;
}

/* Navigation override */

.navbar ul li:hover > a{
	background-color: rgba(0, 0, 0, 0.105) !important;
}

div.breathe{
	margin: 0.7em 0;
}

p.breathe{
	width: 87%;
	margin-bottom: 20px;
}

body{
	font-family: 'Roboto';
	margin: auto;
}

.developer{
	padding: 15px auto;
}

.vote{
	font-size: 1.3em;
}

.upvote{
	color: orangered;
	font-size: 0.8em;
}

.downvote{
	color: darkslateblue;
	font-size: 0.8em;
}

#mapbutton, #listbutton{
	padding: 15px;
	margin-bottom: 15px;
	background-color: #199387;
	color: #FFF;
	float: left;
	width: 100%;
}

#mapbutton:hover, #listbutton:hover{
	background-color: #d04526;
}

#mapbutton i, #listbutton i{
	font-size: 1.5em !important;
}

.spotlink{
	display: block;
	float: none;
}

/* =============================
* HACKS (ugly, fix later)
* ============================== */

.spotcontent{
	clear: both;
	padding: 15px;
	border-top: 1px solid #AAA;
	padding-bottom: 25px;
}

.spotcontent:hover{
	background-color: #EEE;
}

.spotimg, .spotimg_noimg{
	float: left;
	margin-top: 25px;
	margin-right: 50px;
	max-width: 150px;
	border: 4px solid #FFF;
	box-shadow: 1px 1px 5px #999;
}

.spotimg_noimg{
}

.text{
	float: left;
}

.sloth404{
	max-width: 300px;
}

.sloth_help{
	position: fixed;
	max-width: 250px;
	bottom: 0;
	right: 0;
	opacity: 0.05;
}

.center_btn{
	display:  inline-block !important;
	text-align: center !important;
	width: 80%;
}

/* =============================
* MEDIA QUERIES
* ============================== */

/** MOBILE APP */
@media screen and (max-width: 480px){
	p.breathe{
		width: 100%;
		margin-bottom: 20px;
	}
	.logo a img{
		position:relative !important;
		top: 7px !important;
	}
}

/** TABLET APP */
@media screen and (min-width: 481px) and (max-width: 768px){
	/*.logo a img{
		position:relative !important;
		top: 7px !important;
	}*/
}

/** DESKTOP (960px max) */
@media screen and (min-width: 769px) and (max-width: 960px){

}

/** DESKTOP (960px min) */
@media screen and (min-width: 961px){

}

.btn,.drawer { margin-bottom:10px; }
	.drawer { text-align: center; }
	h1.lead { border-bottom: 1px dotted #ccc; margin-bottom: 30px; }
	h4.lead { margin-bottom:10px; }
	#icon_map ul li { font-size: 16px; }
	.smallify { font-size: 13px; }
	.modal h2, .modal .btn { margin: 5% 0 20px; }

#logoNav {
	width: 120px;
	height: 100%;
	background: url('../img/logo.png') no-repeat left center / contain;
}

span.adjoined {background-color: rgba(0, 0, 0, 0) !important;}

#Spotter {
	padding-bottom: 5em;
}

#Spotter h1 {
	background: #0D6359;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	font-style: italic;
	font-weight: 300;
	padding: 0.5em 0;
	margin: 0 0 1em 0;
}

#Spotter img {
	margin: 0 auto;
}

#Spotter h2 {display: none;}

#Spotter a {
	width: 74%;
	background: #199387;
	color: #fff;
	padding: 1em;
	margin: 2em 0 2em 14%;
	clear: both;
	display: block;
}

#Spotter input[type=text], #solution, #img_spot {
	width: 74%;
}

#img_spot {
	width: 50%;
	margin: 0 0 3% 32%;
}

#pageActions {
	width: 100%;
	padding: 2em;
	margin-top: -5em;
}

button#cancel, button#confirm {
	width: 50%;
	float: left;
	background: none;
	border: none;
	font-style: italic;
	text-transform: uppercase;
	color: #999;
}

button#cancel {text-align: left;}
button#confirm {text-align: right;}

#streetlocation, #autolocation {
	width: 20%;
	float: left;
	margin-bottom: 3em;
	display: block;
}

.icon-user {
	background: url('../img/icons/icon-user.png') no-repeat left bottom;
	background-size: contain;
	display: block;
}

.icon-pwd {
	background: url('../img/icons/icon-pwd.png') no-repeat left bottom;
	background-size: contain;
	display: block;
}

.cImg {
	width: 20%;
	margin: 10% 0 10% 40%;
	display: block;
}

#map{
	height: 200px !important;
	width: 100% !important;
}

#map a {
	width: auto;
	background: inherit;
	color: inherit;
	padding: 0 5px;
	margin: inherit;
	clear: inherit;
	display: inherit;
	text-align: center;
	margin-left: 2px;
}

.negative {
	background: #199387;
	color: #fff;
	padding: 0.3em;
}

ul.breathe {
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.italic {font-style: italic;}
.uppercase {text-transform: uppercase;}